{% extends "enterprises/base.html" %}

{% block content %}
    <div class="h-screen mt-2">
<h2 class="text-4xl font-extrabold dark:text-white">About us</h2>
<p class="my-4 text-lg text-gray-500">We do all kinds of government and non-government contracting and supplying works.</p>
<p class="mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">Our work includes but are not limited to the following:</p>
<ul class="mx-4 mb-4 text-lg font-normal list-disc text-gray-500 dark:text-gray-400">
    <li>Central heating</li>
    <li>Boiler overhauling</li>
    <li>Oxygen related work</li>
    <li>etc</li>
</ul>

</div>
{% endblock content %}